---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "更新内容";
---
<BaseLayout pageTitle={pageTitle}>
    	<p>・ページを3枚作った</p>
        <ul>
		  {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>
</BaseLayout>