---
const pageTitle = "更新内容";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">ホーム</a>
        <a href="/about/">概要</a>
        <a href="/blog/">記事</a>
		<h1>更新内容</h1>
        <p>・ページを3枚作った</p>
        <ul>
            <li><a href="/posts/post-1/">記事1</a></li>
            <li><a href="/posts/post-2/">記事2</a></li>
            <li><a href="/posts/post-3/">記事3</a></li>
        </ul>
	</body>
</html>